body{
    background-color: black;
}

div {
    font-family: Helvetica; 	
    background-color: #272d3300; 	
    color: white; 	
    font-size: 32px; 	
    padding: 5px; 
}

nav {
    padding: 5px; 
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 60px;
}

.items:hover {
    background-color: gray;
    opacity: 0.5;
}

a {
    width: 20%;
    text-align: center;
    text-decoration: none; 
}

h1 {
    text-align: center;
    color: gray;
    background-color: aliceblue;
    padding: 1px;
    border: 10px solid #aaa11ecf;
}

.Me {
    width: 300px;
}
